/* template/css/styles.css */

header {
   height: 90px;
}

body {
    padding-top: 40px; /* Platz für die Navigation */
    padding-bottom: 40px; /* Platz für den Footer */
}

footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.container {
    margin-bottom: 100px; /* Verhindert Überlappung mit dem Footer */
}

.table {
    margin-top: 20px; /* Zusätzlicher Abstand nach Bedarf */
}

.alert {
    margin-top: 20px;
}
